.modalI {
        display: none;
        position: fixed;
        z-index: 999;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        overflow: auto;
        background-color: rgba(0,0,0,0.6);
    }
    .modal-contentI {
        background-color: #fff;
        margin: 10% auto;
        padding: 20px;
        border-radius: 10px;
        width: 70%;
        text-align: center;
        box-shadow: 0 0 20px #0003;
    }
    .close {
        color: #aaa;
        float: right;
        font-size: 32px;
        font-weight: bold;
        cursor: pointer;
    }
    .modalI img {
        max-width: 100%;
        max-height: 60vh;
        border-radius: 8px;
    }
button{
    background: #a47864;
    color: white;
    border-radius: 10px;
    padding: 4px;
}

button:hover {
    background: #ad6133;
}