<!-- ModalListas.html -->
<div th:fragment="modalListas(listas, receta, idModal)" th:id="${idModal}" class="modal" role="dialog" aria-modal="true" aria-labelledby="modal-titulo-add-lista">
  <div class="modal-content">
    <span class="close" onclick="closeModal('[[${idModal}]]')" role="button" tabindex="0" aria-label="Cerrar ventana">&times;</span>
    <h2 id="modal-titulo-add-lista">Añadir a una Lista</h2>
    <div class="folder-container">
      <!-- Nueva lista -->
      <div class="folder new-folder" id="nuevaListaDiv" aria-label="Crear nueva lista" tabindex="0">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-folder-plus" viewBox="0 0 16 16" aria-hidden="true" focusable="false">
          <path d="m.5 3 .04.87a2 2 0 0 0-.342 1.311l.637 7A2 2 0 0 0 2.826 14H9v-1H2.826a1 1 0 0 1-.995-.91l-.637-7A1 1 0 0 1 2.19 4h11.62a1 1 0 0 1 .996 1.09L14.54 8h1.005l.256-2.819A2 2 0 0 0 13.81 3H9.828a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 6.172 1H2.5a2 2 0 0 0-2 2m5.672-1a1 1 0 0 1 .707.293L7.586 3H2.19q-.362.002-.683.12L1.5 2.98a1 1 0 0 1 1-.98z"/>
          <path d="M13.5 9a.5.5 0 0 1 .5.5V11h1.5a.5.5 0 1 1 0 1H14v1.5a.5.5 0 1 1-1 0V12h-1.5a.5.5 0 0 1 0-1H13V9.5a.5.5 0 0 1 .5-.5"/>
        </svg>
        <span id="nuevaListaSpan" onclick="activarInputNuevaLista()" role="button" tabindex="0" aria-label="Crear nueva lista">Nueva</span>
        <form id="nuevaListaForm" class="d-none" onsubmit="crearLista(event)" aria-label="Formulario para crear nueva lista">
          <input type="text" id="nombreNuevaLista" placeholder="Nombre lista..." required autofocus style="width:90px;" aria-label="Nombre de la nueva lista">
        </form>
      </div>
      <form id="addToListForm" th:action="@{/listas/addToList}" method="post" aria-label="Formulario para añadir receta a una lista">
        <input type="hidden" name="recetaId" th:value="${receta.idReceta}" />
        <div class="folder-list">
          <th:block th:each="lista : ${listas}">
            <button type="submit" name="listaId" th:value="${lista.carpeta.idCarpeta}" class="folder"
                    th:title="'Añadir a ' + ${lista.carpeta.nombre}"
                    th:aria-label="'Añadir receta a la lista ' + ${lista.carpeta.nombre}">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                   class="bi bi-folder" viewBox="0 0 16 16" aria-hidden="true" focusable="false">
                <path d="M.54 3.87.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.826a2 2 0 0 1-1.991-1.819l-.637-7a2 2 0 0 1 .342-1.31zM2.19 4a1 1 0 0 0-.996 1.09l.637 7a1 1 0 0 0 .995.91h10.348a1 1 0 0 0 .995-.91l.637-7A1 1 0 0 0 13.81 4zm4.69-1.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981l.006.139q.323-.119.684-.12h5.396z"/>
              </svg>
              <span th:text="${lista.carpeta.nombre}"></span>
            </button>
          </th:block>
        </div>
      </form>
    </div>
  </div>
</div>
