<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Politica de privacidad</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
    <!-- Flickity CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flickity/2.3.0/flickity.min.css" />
    <!-- Tus estilos -->
    <link rel="stylesheet" href="/css/cabecera.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <style>
        main {
            width: 90%;
            margin: auto;
            margin-top: 50px;
        }

        ul {
            display: flex;
            flex-direction: column;
        }

        main li {
            list-style: circle;
        }

        .migas ol li {
            list-style: none;
        }
    </style>
</head>

<body>

<!-- Cabecera -->
<header th:replace="Cabecera :: cabecera"></header>

<main>

    <div class="migas">
        <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);"
             aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/">Inicio</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                    Política de privacidad
                </li>

            </ol>
        </nav>


    </div>

    <h1 role="heading">
        Plataforma web - Política de privacidad

    </h1>
    <br>


    <h2>1.Información al usuario</h2>
    <p>Bienvenido a la plataforma de lectura y préstamo de libros electrónicos
        (individualmente, la "Plataforma" o la "Aplicación", según sea el caso,
        y colectivamente el "Servicio"), desarrollada y operada por
        "<strong>Distribuidora Digital de Libros, S.A.U.</strong>",
        ("<strong>Libranda</strong>"), como adjudicataria del servicio público
        de implementación y gestión de la Plataforma. Libranda es la encargada
        del tratamiento de sus datos personales, es decir, quien actúa por
        cuenta del responsable del tratamiento, el "<strong>Ministerio de
            Cultura y Deporte</strong>".</p>
    <p>Le informamos que Libranda es una empresa debidamente constituida de conformidad con las leyes españolas con
        domicilio social en Travessera
        de Gracia 56 3º 3ª 08006 Barcelona, y Número de Identificación Fiscal
        A-65310138.</p>
    <p>El responsable del tratamiento es el Ministerio de Cultura y Deporte, con
        domicilio en Plaza del Rey, 1º, 28004 Madrid, y Número de Identificación
        Fiscal S-2828001D.</p>
    <p>Puede encontrar la identidad y datos del responsable del tratamiento, así
        como los datos del delegado de protección de datos que corresponda,
        accediendo al sitio web del mismo.</p>
    <p>Esta Política de Privacidad describe cómo recogemos sus datos personales
        y por qué los recogemos, qué hacemos con ellos, con quién los
        compartimos, como los protegemos y sus opciones en cuanto al tratamiento
        de sus datos personales, todo ello según lo dispuesto en el Reglamento
        (UE) 2016/679, de 27 de abril (RGPD) y en la Ley Orgánica 3/2018, de 5
        de diciembre, de protección de datos y garantía de los derechos
        digitales (LOPDGDD).</p>
    <h2>
        2. Finalidad y uso de los datos personales
    </h2>

    <p>Libranda es consciente de la necesidad de proteger su privacidad y está
        comprometida para respetar la confidencialidad de la información
        personal que recopila sobre usted.</p>
    <p>Como parte de la operatividad de la Plataforma, Libranda recogerá y/o
        procesará información sobre usted, como se describe a continuación. Sus
        datos serán tratados con la finalidad de permitir el acceso a los
        servicios ofrecidos en la Plataforma, por ejemplo, iniciar sesión,
        acceder al préstamo de libros electrónicos y utilizar otras funciones de
        la Plataforma. La información personal se recoge y se utiliza sólo para
        el fin indicado en esta política de privacidad y para ningún otro
        propósito.</p>
    <p>Cuando inicie sesión en la Plataforma, debe seleccionar su Biblioteca
        participante en el proyecto eBiblio del Ministerio de Cultura y Deporte,
        un proyecto colectivo con las comunidades y ciudades autónomas de España
        y será dirigido al sitio web de la Biblioteca, que lo autenticará. Usted
        sólo podrá beneficiarse de los servicios ofrecidos a través de la
        Plataforma si es un miembro autentificado de una Biblioteca. Usted y su
        Biblioteca enviarán a Libranda su número de usuario para permitirle
        acceder a la Plataforma, iniciar sesión en su cuenta de usuario y
        utilizar las funciones de la Plataforma.</p>
    <p>Si usted lo desea, puede proporcionar información adicional a Libranda a
        fin de administrar su cuenta a través de la Plataforma o de su
        Biblioteca.</p>
    <p>Usted también puede descargar o subir información, comentarios o archivos
        a la Plataforma. Libranda se reserva todo el derecho de verificarlos y
        rechazarlos si éstos, infringen la política de Libranda.</p>
    <p>Libranda no se hace responsable del uso o la protección de la información
        personal que usted proporcione a las Bibliotecas o a terceros, la cual
        es administrada por las Bibliotecas o terceros de acuerdo con sus
        propias políticas. Por favor, póngase en contacto con ellos directamente
        para saber más sobre su política de privacidad y confidencialidad.</p>
    <p>La información personal o agregada podrá ser únicamente utilizada
        internamente con fines de mejora del servicio e investigación y
        desarrollo de funcionalidades que optimicen el funcionamiento del mismo.
        La información agregada es información no personal y no puede ni será
        utilizada para identificar a los usuarios del servicio.</p>
    <p>La información personal podrá utilizarse y comunicarse si Libranda,
        actuando de manera razonable, cree que el uso y la divulgación son
        necesarios para cumplir con las leyes aplicables, un procedimiento
        judicial o una solicitud gubernamental, o de otro modo para cualquier
        propósito establecido en la ley aplicable que permita o exija la
        divulgación de información personal.</p>
    <h2>3. Cookies</h2>
    <p>Al utilizar la Plataforma, se puede recopilar cierta información (como
        las interacciones con la Plataforma o cualquier otra información
        descrita a continuación) a través de cookies de sesión propias y las
        cookies de Google Analytics. Le informamos asimismo que la transferencia
        internacional de datos a Google se ampara en la formalización de las
        cláusulas contractuales tipo aprobadas por la Comisión Europea. Para más
        información, consulte nuestra Política de Cookies.</p>
    <p>Usted puede encontrar información adicional sobre cómo gestionar las
        cookies, incluyendo cómo revocar el consentimiento y eliminar las
        cookies, de forma accesible y permanente en todo momento a través de la
        Política de Cookies de la página web.</p>
    <h2>
        4.Procedencia de los datos y base de legitimación
    </h2>
    <p>Los datos que tratamos han sido facilitados por usted.</p>
    <p>El tratamiento de sus datos se basa en el consentimiento que usted nos
        otorga al aceptar esta Política de Privacidad, mediante la aceptación de
        la casilla habilitada a tal efecto. El consentimiento que usted nos
        proporciona supone el consentimiento inequívoco del tratamiento de los
        datos personales con la finalidad y características detalladas en la
        presente Política de Privacidad. Por lo tanto, la negativa a suministrar
        los datos personales solicitados, o la entrega de datos inexactos o
        incompletos, podrá ocasionar la imposibilidad de prestarle los servicios
        solicitados de forma adecuada.</p>
    <p>Su información personal puede ser recogida a través de los siguientes
        formularios:</p>
    <ul>
        <li>Formulario para registrarse en la Plataforma;</li>
        <li>Formulario de identificación;</li>
        <li>Cuando complete su perfil de usuario;</li>
        <li>Cuando publique un comentario de su perfil de usuario;</li>
        <li>Cuando puntúe un libro desde su perfil de usuario.</li>
    </ul>
    <p>Libranda no vende, arrienda ni explota comercialmente la información
        recogida. La información recogida no se comparte con terceros ni es
        utilizada por terceros salvo para el fin para el que fue recogida según
        se describe en esta Política de Privacidad, a menos que la ley lo
        exija o autorice o se haya obtenido el consentimiento apropiado, según
        sea el caso.</p>
    <p>En cuanto a la finalidad del tratamiento que realizamos, Libranda trata
        la información recogida para “facilitar el préstamo de los documentos
        incluidos en la plataforma”, ello significa:</p>
    <ul>
        <li>Permitirle utilizar nuestra Plataforma y los servicios ofrecidos en
            ella, creando una cuenta y un perfil de usuario;</li>
        <li>Ponerse en contacto con usted en el marco de las funciones de
            servicio que utiliza, por ejemplo, para darle acceso al enlace de
            descarga de libros digitales cuando esté listo, para confirmar una
            reserva de un libro digital, para notificarle y enviarle el enlace
            de descarga de un préstamo cuando un libro que haya reservado esté
            disponible para que lo tome prestado;</li>
        <li>Gestión de servicio;</li>
        <li>Ofrecer apoyo técnico, si es necesario;</li>
        <li>Informarle de los cambios en nuestras condiciones de uso y políticas
            y/u otras razones administrativas;</li>
        <li>Proteger los derechos e intereses y hacer cumplir esta Política de
            Privacidad o las condiciones de uso;</li>
        <li>Cumplimiento de la ley.</li>
    </ul>
    <h2>5.
        Derechos
    </h2>
    <p>En relación con la recogida y tratamiento de sus datos personales, usted
        podrá ejercer su derecho de acceso, rectificación, supresión, oposición,
        limitación del tratamiento y portabilidad de los datos de acuerdo con la
        normativa aplicable, asimismo si usted ha otorgado su consentimiento
        para alguna finalidad concreta, tiene derecho a retirar su
        consentimiento otorgado en cualquier momento, sin que ello afecte a la
        licitud del tratamiento basado en el consentimiento previo a su
        retirada.</p>
    <p>Todos los derechos pueden ejercerse, ante el encargado (Libranda) o el
        responsable del tratamiento, a través del formulario de la sede
        electrónica del Ministerio de Cultura y Deporte o mediante una solicitud
        dirigida a la SG de Atención al Ciudadano, Documentación y
        Publicaciones, Plaza del Rey 1, 28004 Madrid (España). Contacto del
        Delegado de Protección de Datos, DPD:
    </p>
    <p>También puede ejercer sus derechos ante Libranda, enviando comunicación,
        motivada y acreditada usando los datos de contacto dispuestos en el
        apartado primero de esta política. Las solicitudes enviadas por correo
        electrónico deberán realizarse desde el correo registrado por usted. En
        todo caso, el usuario, para ejercer los citados derechos y al objeto de
        ofrecer garantías de identificación del correspondiente solicitante,
        deberá acompañar a su solicitud una copia de su Documento Nacional de
        Identidad o, en su caso, Número de Identificación de Extranjeros, en
        vigor.</p>
    <p>Asimismo, si está insatisfecho con el modo en que tratamos su información
        personal, puede comunicarse con nosotros en cualquier momento para
        resolver el asunto, a través del correo electrónico.</p>
    <p>No obstante, siempre tiene el derecho de presentar una reclamación ante
        la Agencia Española de Protección de Datos (<a href="http://www.aepd.es">www.aepd.es</a>).</p>
    <h2>6.
        Medidas de Seguridad
    </h2>
    <p>Libranda ha adoptado las medidas de seguridad de índole técnica y
        organizativa necesarias de conformidad con el estado de la tecnología
        para garantizar la seguridad de los datos de carácter personal y se
        compromete a cumplir con el deber de secreto y confidencialidad respecto
        de los datos personales proporcionados por el usuario de acuerdo a la
        normativa aplicable. En este sentido, Libranda ha implementado las
        siguientes medidas:</p>
    <ul>
        <li>Tecnología SSL: Con cada acceso a la Plataforma a través de
            Internet, la tecnología de Capa de Conexión Segura (SSL) protege la
            información personal mediante la autenticación del servidor y la
            codificación de los datos. No se revelará ninguna información
            personal hasta que esta tecnología se active;</li>
        <li>Acceso limitado: El acceso a la información personal se concede
            únicamente a los empleados, representantes y subcontratistas
            relevantes de Libranda "que necesiten saber" a los efectos de
            desarrollar o hacer funcionar la Plataforma;</li>
        <li>Centro de Seguridad: Los servidores de Libranda se encuentran en un
            centro de datos situado en España y la Plataforma está alojada en la
            plataforma Google Cloud. Para obtener más información sobre estos
            servicios de hosting, por favor visite las condiciones de uso y la
            política, disponibles en <span><a rel="nofollow" class="external-link"
                                              href="https://cloud.google.com/product-terms/"
                                              target="blank">https://cloud.google.com/product-terms/</a></span>.
        </li>
    </ul>
    <p>Incluso si Libranda utiliza tecnologías de calidad comercializable para
        hacer funcionar la plataforma y sus servidores - así como cualquier tipo
        de archivo - no son infalibles y ni están totalmente protegidos contra
        eventos impredecibles o de fuerza mayor, ciberataques o usos y accesos
        no autorizados, y usted debe saber que existe un riesgo asociado a la
        transmisión electrónica de datos. Este riesgo es inherente a todas las
        operaciones electrónicas, así como a todas las demás formas de
        comunicación.</p>
    <p>Por lo tanto, Libranda no puede garantizar que la información nunca será
        interceptada o accedida o se verá comprometida en otros incidentes.
        Tales incidentes de seguridad pueden ocurrir y hacer que los
        dispositivos o sistemas sean accesibles a personas no autorizadas o
        controlados por otras personas, y dar lugar a la recepción de
        comunicaciones e invitaciones no deseadas. Si recibe un mensaje que
        parece proceder de la Plataforma en la que se le pide que comparta
        información personal, debe evitar responderlo. Libranda nunca solicitará
        información financiera y otra información sensible de esta manera. Si
        usted u otra persona ha proporcionado información personal en respuesta
        a un correo electrónico sospechoso, una ventana emergente o un sitio web
        falso que declara que está asociado con la solicitud, o si se produce
        cualquiera de los eventos mencionados anteriormente, póngase en contacto
        con Libranda inmediatamente.</p>
    <h2>
        7. Plazo de conservación de datos personales
    </h2>
    <p>Con sujeción a las leyes aplicables, Libranda conserva y almacena
        información personal para su uso y divulgación de conformidad con la
        presente política de privacidad, siempre que sea necesario para el fin
        que se describe aquí. Con este fin, Libranda puede retener la
        información personal una vez que se ha cumplido un propósito específico
        si es razonablemente necesario hacerlo: (i) para cumplir con las leyes
        aplicables o para evitar cualquier infracción; (ii) para resolver
        disputas; y (iii) para hacer cumplir esta política de privacidad.</p>
    <p>El plazo de conservación de sus datos personales se circunscribe al
        contrato de prestación de servicios de implementación de la plataforma
        eBiblio, en consecuencia, se conservarán hasta su terminación. Una vez
        finalizado el servicio, Libranda devolverá o destruirá los datos
        personales, según la petición de cada Biblioteca.</p>
    <div>
        <p>Última actualización: 22 de marzo de 2023.</p>
    </div>

</main>
<!-- Footer -->
<footer th:replace="Footer :: footer"></footer>

<!-- Scripts -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>