<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Terminos y Condiciones de Usu</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
    <!-- Flickity CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flickity/2.3.0/flickity.min.css" />
    <!-- Tus estilos -->
    <link rel="stylesheet" href="/css/cabecera.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <style>
        main {
            width: 90%;
            margin: auto;
            margin-top: 50px;
        }

        ul {
            display: flex;
            flex-direction: column;
        }

        li {
            list-style: none;
        }

        #migas ol li {
            list-style: none;
        }
        #menuDesplegable li button{
            border:none;
            background-color: transparent;
            width: 100%;
        }
    </style>
</head>

<body>

<!-- Cabecera -->
<header th:replace="Cabecera :: cabecera"></header>

<main>
    <div id="migas">
        <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);"
             aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/">Inicio</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Terminos y Condiciones
                </li>

            </ol>
        </nav>
        <h1 class="cell article__heading" role="heading">Terminos y Condiciones</h1>
    </div>
    <h2>Introducción</h2>
    <p><span>Bienvenidos a la plataforma para el préstamo y la lectura de libros
                    digitales de su biblioteca (individual y colectivamente el
                    "</span>Servicio<span>"). Nuestro Servicio le permitirá tomar prestados
                    sus libros favoritos de una manera simple, segura y amigable. Sin
                    embargo, lea detenidamente estos términos de uso
                    ("</span>Términos<span>"), ya que contienen información importante sobre
                    sus derechos y obligaciones como usuario.</span></p>
    <p><span>Al usar el Servicio, usted acepta celebrar un contrato que lo
                    compromete con su biblioteca, y con&nbsp;</span>DISTRIBUIDORA DIGITAL DE
        LIBROS, S.A.U., ("Libranda")<span style="letter-spacing: 0.0px;">&nbsp;(cada
                    uno individualmente un "</span><span style="letter-spacing: 0.0px;">Gerente</span><span
                style="letter-spacing: 0.0px;">" o colectivamente los "</span><span
                style="letter-spacing: 0.0px;">Gerentes</span><span style="letter-spacing: 0.0px;">"), bajo las
                    condiciones establecidas en
                    estos Términos, que usted reconoce haber leído y entendido y que le
                    vinculan legal y contractualmente como usuario. A cambio, los Gerentes
                    le otorgan una licencia libre de regalías para el uso del Servicio, no
                    exclusiva, revocable y modificable de acuerdo con estos
                    Términos.</span><br></p>
    <p><span>Si no está de acuerdo con estos Términos, no se registre ni use el
                    Servicio. Cualquier mejora o modificación del Servicio estará
                    automáticamente sujeta a estos Términos, a menos que se indique
                    expresamente lo contrario.</span></p>
    <h2>Actualización
        de los términos</h2>
    <p><span>Estos Términos están sujetos a cambios en cualquier momento por parte
                    de los Gerentes. Si hacemos algún cambio, tomaremos medidas para
                    informarle en consecuencia. En caso de que un usuario no acepte la
                    versión actualizada de estos Términos, su acceso al Servicio puede
                    suspenderse desde la fecha de entrada en vigor de la
                    actualización.</span></p>
    <h2>Modificaciones al Servicio</h2>
    <p><span>Los Gerentes pueden, a su exclusivo criterio, cambiar, eliminar,
                    modificar, restringir, suspender o cancelar el Servicio, o cualquier
                    parte del mismo, sin previo aviso o responsabilidad hacia usted o
                    cualquier otra persona.</span></p>
    <h2>Tu cuenta</h2>
    <p><span>Para acceder al Servicio, debe tener una cuenta de usuario en alguna
                    biblioteca participantes.&nbsp;Si no la tiene pongáse en contacto con su
                    biblioteca de referencia o acceda a través del botón Crear cuenta en la
                    parte superior del inicio de la web.</span></p>
    <p><span>Su cuenta de usuario se crea para su uso personal y no comercial del
                    Servicio. Los Gerentes se reservan el derecho de suspender o cancelar su
                    cuenta de usuario y su acceso al Servicio si alguna información
                    proporcionada durante el proceso de registro o posteriormente resulta
                    ser inexacta, fraudulenta, obsoleta o incompleta. Al usar el Servicio,
                    usted confirma que tiene 13 años de edad o más o, si no, que ha obtenido
                    el consentimiento previo de sus padres o tutor legal que lo autoriza a
                    usar el Servicio.</span></p>
    <p><span>Usted es responsable de proteger su contraseña y todas las actividades
                    en su cuenta, ya sea que haya autorizado o no dichas actividades. Si se
                    da cuenta o sospecha razonablemente de cualquier intrusión, incluido el
                    robo, la pérdida o la divulgación no autorizada o el uso de su
                    contraseña, debe notificarnos de inmediato poniéndose en contacto con
                    nosotros de la manera prevista en estos Términos.</span></p>
    <h2>Normas y políticas</h2>
    <p><span>Cuando accede o utiliza el Servicio, acepta cumplir con: (a) cualquier
                    política de uso y otras políticas establecidas por los Gerentes de vez
                    en cuando en relación con el Servicio o su sitio web respectivo; y (b)
                    todas las leyes aplicables, incluida la protección de la ley de
                    propiedad intelectual, especialmente las relacionadas con los derechos
                    de autor y la regulación de la reproducción, difusión y uso de las obras
                    protegidas por dichas leyes.</span></p>
    <h2>Tu privacidad</h2>
    <p><span>Los gerentes se preocupan por la protección de su información personal
                    y el respeto de su privacidad. La información sobre el tipo de
                    información recopilada durante su uso del Servicio, los motivos por los
                    que se recopila dicha información y el uso que se hace de ella está
                    disponible en el siguiente enlace: Política de
                    privacidad"</span><span>, que usted es responsable de revisar y
                    reconocer haber leído y entendido su aceptación de estos
                    Términos.</span></p>
    <p><span>Los gerentes se comprometen a tomar medidas técnicas razonables para
                    proteger la seguridad física de su información personal. Sin embargo,
                    dada la naturaleza de la red pública que es Internet, el usuario
                    reconoce y acepta que no se puede garantizar la seguridad de las
                    transmisiones a través de Internet. Como resultado, los Gerentes no
                    pueden garantizar ni asumir ninguna responsabilidad por cualquier
                    violación de la privacidad, piratería, virus, pérdida o alteración de la
                    información transmitida o alojada en sus sistemas.</span></p>
    <h2>Prohibiciones</h2>
    <p><span>No deberá, bajo posible sanción de responsabilidad civil o
                    penal:</span></p>
    <ul>
        <li><span>Desmontar, descompilar, realizar cualquier operación de ingeniería
                        inversa u otra operación para acceder al código fuente del
                        Servicio;</span></li>
        <li>
            <p class="auto-cursor-target"><span>Copiar, imitar o reproducir el
                            Servicio, así como el contenido del mismo, en su totalidad o en
                            parte, utilizarlo con fines comerciales, alquilarlo, ofrecerlo
                            en alquiler, prestarlo, venderlo, publicarlo, ofrecerlo bajo
                            licencia o sublicenciarlo, distribuirlo, asignarlo o
                            transferirlo de cualquier manera y a cualquier persona, en su
                            totalidad o en parte, sin el consentimiento previo por escrito
                            de </span>Libranda;</p>
        </li>
        <li><span>Cargar en o al Servicio o transmitir vía el Servicio, en el caso
                        de que esta función esté disponible, cualquier contenido, enlace u
                        otro elemento que, si se reproduce, publica, transmite o utiliza,
                        podría:</span>
            <ul>
                <li><span>Ser difamatorio, amenazador, abusivo, acosador, odioso,
                                obsceno, pornográfico o violar, dañar o interferir con la
                                privacidad de cualquier persona;</span></li>
                <li><span>Violar cualquier ley, incluidas las de propiedad
                                intelectual, sobre la protección de la privacidad u otras
                                leyes;</span></li>
                <li><span>Hacerse pasar por otra persona o inducir a error sobre la
                                identidad de una persona;<br></span></li>
                <li><span>Dar lugar a responsabilidad civil u otra responsabilidad;
                                o</span></li>
                <li><span>Estar relacionado con drogas ilegales, armas, juegos u
                                otras actividades ilegales; </span></li>
            </ul>
        </li>
        <li><span>En los casos en que esta opción esté disponible, descargue o
                        transmita a través del Servicio cualquier archivo, datos, software o
                        enlace que contenga o redirija a un virus, un caballo de Troya, un
                        gusano u otro componente dañino;<br></span></li>
        <li><span>En los casos en que esta opción esté disponible, use el Servicio
                        para cometer, o intente, cualquiera de las siguientes acciones sin
                        la aprobación previa por escrito de un Gerente:<br></span>
            <ul>
                <li><span>Enviar correos electrónicos no solicitados como spam u
                                otros correos masivos;</span></li>
                <li><span>Obtener acceso no autorizado a todos los datos, todas las
                                redes o todos los sistemas;</span></li>
                <li><span>Realizar o promover cualquier actividad comercial;</span>
                </li>
                <li><span>Monitorear datos o tráfico en cualquier red o
                                sistema;</span></li>
                <li><span>Obtener una dirección de correo electrónico, un nombre de
                                usuario o cualquier otra información de un tercero sin su
                                consentimiento;</span></li>
                <li><span>Utilice cualquier encabezado de mensaje falso / engañoso
                                TCP / IP en cualquier correo electrónico o publicación;
                                o</span></li>
                <li>
                    <p class="auto-cursor-target"><span>Realizar o iniciar cualquier
                                    ataque de denegación de servicio contra el sitio web o
                                    la red de&nbsp;</span>Libranda<span> o contra cualquier
                                    sitio web o red de terceros.</span></p>
                </li>
            </ul>
        </li>
        <li><span>Realizar informes falsos&nbsp;incorrectamente a través del
                        Servicio;</span></li>
        <li><span>Falsificar cualquier dato o información disponible en el
                        Servicio;</span></li>
        <li><span>Eliminar o modificar cualquier aviso sobre derechos de autor u
                        otro aviso relacionado con la propiedad intelectual del
                        Servicio;</span></li>
        <li><span>Evite, eluda o deshabilite cualquier acceso tecnológico seguro,
                        sistema de seguridad, procedimiento, protocolo o mecanismo de
                        protección tecnológica que pueda incluirse en parte del Servicio o
                        de cualquier software / hardware de computadora utilizado para
                        ofrecer el Servicio o el software / hardware o servicios de
                        terceros; o</span></li>
        <li><span>Autorizar o alentar a cualquier tercero a hacer lo mencionado
                        anteriormente.</span></li>
    </ul>
    <h2>Contenido</h2>
        <h3>Tu contenido</h3>
        <p><span>Los Administradores pueden permitir, a su exclusivo criterio, la
                    descarga y publicación de comentarios y observaciones, a través de un
                    club de lectura o de otro tipo, así como imágenes, texto u otro
                    contenido enviado por usted a través del Servicio, incluido su historial
                    de lectura (colectivamente, "</span>Tu contenido<span>"). Al enviar su
                    contenido, otorga a los Gerentes una licencia irrevocable, perpetua, no
                    exclusiva, transferible y gratuita para copiar, modificar, mostrar o
                    usar su contenido.</span></p>
        <p>Usted declara y garantiza a&nbsp;Libranda<span style="letter-spacing: 0.0px;">&nbsp;que: (a) usted es el
                    propietario de
                    Su contenido o tiene el permiso por escrito del propietario de los
                    derechos de autor para poner a disposición Su contenido en o a través
                    del Servicio; (b) Su contenido es exacto y correcto; (c) usted tiene
                    derecho a otorgar la licencia mencionada anteriormente a los Gerentes; y
                    (d) la reproducción, exhibición, distribución, uso y otra explotación de
                    Su contenido por parte de los Gerentes y sus proveedores de servicios,
                    miembros, usuarios y licenciatarios, según lo permitido por la licencia
                    mencionada anteriormente, no infringirá los derechos de terceros y no
                    infringirá ninguna ley, en particular las leyes de derechos de autor y
                    de protección de la propiedad intelectual.</span></p>
        <p><span>Los Gerentes pueden negarse a publicar o eliminar cualquier contenido
                    que se considere inapropiado, entre otros si es vulgar, ofensivo,
                    difamatorio, obsceno, odioso o de otra manera ilegal u objetable.</span>
        </p>
        <h3>Otro contenido</h3>
        <p><span>Las opiniones, comentarios y otra información transmitida a través del
                    Servicio solo tienen como objetivo proporcionar información a los
                    usuarios y se proporcionan solo con fines de referencia, sin ninguna
                    garantía implícita o expresa y no eximen a los usuarios de su obligación
                    de consultar y realizar las verificaciones habituales. para validar su
                    precisión, veracidad e integridad.</span></p>
        <p><span>Los Administradores no aprueban de manera expresa y sistemática todo el
                    contenido que se muestra en el Servicio y en ningún caso serán
                    responsables del contenido generado por los usuarios del Servicio, sus
                    respectivos sitios web o sitios web o aplicaciones de terceros.</span>
        </p>
        <h2>Enlaces del Servicio</h2>
        <p><span>El Servicio puede permitirle conectarse o iniciar sesión para usar las
                    funciones ofrecidas por aplicaciones, servicios o sitios web operados
                    por terceros y que no son propiedad ni están controlados por un
                    Administrador (colectivamente, las "</span>Aplicaciones de
            terceros<span>"). Proporcionamos estos enlaces solo para su conveniencia, y
                    usted accede a ellos bajo su propio riesgo. Es posible que también deba
                    respetar algunas disposiciones y términos de uso adicionales aplicables
                    cuando utilice o compre, según sea el caso, ciertos productos o
                    servicios relacionados con el Servicio o con aplicaciones de
                    terceros.</span></p>
        <h2>Renuncia
            de garantía e indemnización</h2>
        <p><span>Su uso del Servicio puede interrumpirse o cancelarse, total o
                parcialmente, a entera discreción de los Gerentes. No puede excluirse
                que el Servicio, así como su contenido, pueda contener errores,
                omisiones, imprecisiones o que no esté completo o actualizado. Cuando se
                detecta un error, intentaremos corregirlo lo antes posible y hacer
                esfuerzos razonables para notificar a los usuarios afectados. Esto
                podría significar que sus reservas que aún no se hayan procesado serán
                canceladas. El Servicio también puede no estar disponible de vez en
                cuando para mantenimiento, actualizaciones, fallas en el hardware /
                software de la computadora, reparaciones, fallas de energía, piratería,
                ataques de denegación de servicios, por grandes solicitudes de servicios
                imprevistos o por cualquier otra razón.</span></p>
        <p><span>El usuario acepta expresamente que cualquier uso del Servicio es bajo
                su propio riesgo. Todos los servicios ofrecidos por el Servicio se
                proporcionan "tal cual" y "según estén disponibles". Los Gerentes no
                otorgan ninguna garantía, convencional, legal o de ninguna naturaleza,
                expresa o implícita, relacionada con el desempeño de sus
                servicios.&nbsp;</span></p>
        <p><span>Los Gerentes no representan ni garantizan al usuario que: i) el
                Servicio, o los beneficios que se derivan del mismo, cumplan con sus
                expectativas, sean adecuados para un propósito específico o de calidad
                comercializable; y (ii) los servicios ofrecidos por el Servicio serán
                ininterrumpidos, disponibles, seguros o libres de imprecisiones, virus o
                errores y que cualquier error de programación se corregirá
                oportunamente.</span></p>
        <p><span>Los Gerentes, sus compañías afiliadas, directores, funcionarios y
                empleados no pueden ser considerados responsables, ya sea por contrato o
                por agravio, hacia cualquier usuario o cualquier otro tercero, por
                cualquier daño indirecto, especial o ejemplar, incluidos, entre otros,
                daños o pérdidas. de ingresos, ganancias u otros activos tangibles o
                intangibles, incluso si un Gerente o sus compañías afiliadas pueden
                haber sido notificados de la posibilidad de tales daños y resultantes de
                cualquier fuente, incluyendo: i) la inexactitud de la información y
                elementos referidos en el Servicio o el sitio web de un gerente; (ii)
                cualquier retraso o aplazamiento relacionado con una reserva o con la
                imposibilidad de hacer tal reserva, y; (iii) un mensaje de error, de
                transmisión o acceso no autorizado, pérdida o alteración de
                datos.</span></p>
        <h2>Indemnidad</h2>
        <p>Indemnizará, defenderá y podrá dañar a los gerentes contra cualquier
            responsabilidad y costos, incluidos los honorarios de los abogados y los
            gastos judiciales razonables sufridos por cualquier reclamación, solicitud o
            procedimiento resultante o relacionado con su violación de terceros la
            inexactitud de cualquiera de sus representaciones y garantías o cualquier
            conducta incorrecta por usted o por cualquier persona de la que es
            responsable bajo estos términos o por ley. Usted acepta cooperar como es
            razonablemente requerido por los gerentes en defensa de cualquier
            reclamación, demanda o procedimiento.</p>
        <h2>Términos</h2>
        <p><span>Los Administradores tendrán derecho, en caso de incumplimiento de sus
                obligaciones por parte de un usuario, a rescindir el contrato por el
                presente, así como su permiso para acceder y utilizar el Servicio, así
                como su cuenta de biblioteca o la cuenta creada directamente en el
                Servicio, si es necesario, sin previo aviso o responsabilidad hacia
                usted o cualquier otra persona.</span></p>
        <p><span>Si este contrato o su permiso para acceder o usar, total o
                parcialmente, el Servicio se rescinde por cualquier motivo, este
                contrato y cualquier otro acuerdo existente entre usted y los Gerentes
                continuará aplicándose con respecto a las siguientes secciones de este
                contrato: "Contenido", "Renuncia de garantía e indemnización", "Leyes y
                tribunales”, así como cualquier otra disposición necesaria para dar
                efecto a las secciones antes mencionadas, que sobrevivirán a la
                terminación de este contrato y permanecerán en vigor con plena vigencia
                efecto.</span></p>
        <h2>Leyes y Tribunales</h2>
        <p>Estos Términos, así como el uso del Servicio, se rigen y se interpretarán de
            acuerdo con las leyes vigentes en España, en particular las leyes españolas
            de protección de datos de carácter personal (Ley Orgánica 3/2018, de 5 de
            diciembre, de Protección de Datos Personales y garantía de los derechos
            digitales) sin referencia a sus normas de conflictos de leyes. Cualquier
            acción, demanda o procedimiento que surja de estos Términos (ya sea por
            incumplimiento de contrato, conducta ilícita o de otro tipo) se presentará
            exclusivamente en España, y usted acepta someterse a la jurisdicción de
            dichos tribunales para cualquier acción, demanda o procedimiento que surja
            de estos Términos.</p>
        <h2>Varios</h2>
        <p><span>Cualquier declaración de un tribunal en el sentido de que una de las
                disposiciones de estos Términos es nula o inaplicable no afectará la
                validez o aplicabilidad de las otras disposiciones de estos Términos,
                que seguirán siendo totalmente aplicables.</span></p>
        <p><span>Usted acepta que estos Términos constituyen el acuerdo completo,
                completo y exclusivo entre usted y los Gerentes con respecto al Servicio
                y reemplaza cualquier contrato o acuerdo, ya sea escrito u oral, con
                respecto al tema del presente.</span></p>
        <p><span>Estos Términos benefician y vinculan a los sucesores y cesionarios de
                los Gerentes, así como a sus herederos, ejecutores, administradores,
                sucesores y titulares de derechos autorizados.</span></p>
        <p><span>No puede ceder este contrato ni los derechos y obligaciones derivados
                del mismo. Los Gerentes pueden ceder este contrato y los derechos y
                obligaciones derivados del mismo sin su consentimiento, siempre que el
                cesionario se comprometa a respetar los derechos que se le otorgan según
                los términos del presente. Este contrato contiene disposiciones para el
                beneficio de las entidades del Administrador, cada una de las cuales
                tiene derecho a reclamar y hacer cumplir estas disposiciones
                directamente y en su nombre.</span></p>
        <p><span>Si un Gerente o el usuario no reclaman uno de los derechos bajo estos
                Términos, esto no se interpretará como una renuncia a los mismos o como
                una modificación de dicho derecho de una parte. Cada uno de los
                administradores y usuarios pueden, dentro del plazo establecido por la
                ley, iniciar procedimientos para hacer valer sus derechos. Una demora en
                hacerlo no es un medio de defensa oponible.</span></p>
        <p><span>El usuario reconoce que estos Términos tienen el mismo efecto y el
                mismo valor que si los hubiera firmado personalmente. Una versión
                impresa de estos Términos o de cualquier notificación enviada por correo
                electrónico será admisible como medio de prueba en el contexto de un
                litigio, como cualquier otro documento comercial o registro generalmente
                guardado en papel.</span></p>
        </div>
        </div>



        </div>
        </section>
        </article>
        </div>
</main>
<!-- Footer -->
<footer th:replace="Footer :: footer"></footer>

<!-- Scripts -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>